body{

    background-color: rgb(193, 229, 193);

}

#header{

    display:flex;
    flex-wrap: wrap;
    height: 150px;

}

#logo{

    
    scale:80%;
    float:left;
    

}

#welcomeMessage{

    background-color: white;
    width:800px;
    height: 80px;
    text-align: center;
    border:solid;
    border-radius: 30px;
    padding:10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

    margin-left: auto;
    margin-right: auto; 
    
}

#flogFriend{

    display:flex;

   
    
    scale:50%;
    
    

    margin-left: auto;
    margin-right: auto;

    transform: translateY(-350px);

    justify-content: center;


}

.box{

    background-color: rgba(0, 100, 0, 0.381);
    width:600px;
    height:600px;
    margin: 10px;
    border-radius: 30px;

}

#boxes{

    display: flex;
    justify-content: space-between;
    
    
    
    transform: translateY(-350px);

    margin-left: auto;
    margin-right: auto;


}

.dot{

    height:38px;
    width: 38px;
    background-color: rgb(255, 255, 255);
    border-radius:50%;
    margin-left: auto;
    margin-right:auto;

    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.prompt{

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color:rgb(3, 20, 8);
    background-color: rgba(66, 92, 36, 0.173);

    border: solid;
    border-radius: 50px;
    padding:5px;
    border-color:rgba(0, 128, 0, 0);

    text-align: center;

}

#tagAndPrompt{

    scale:70%;
    justify-content: center;
    transform:translateY(-150px)

}

#firstEntry{

    transform:translateY(-300px);
    
    font-size: 48px;
    font-family: cursive;
    border: none;

    width:500px;

    background-color: white;

    margin-left: 40px;
    margin-right:40px;

    text-align: center;
    outline:none;

}


#bookAndPrompt{

    justify-content: center;

}

#book{

    transform:translateX(80px);

}

#secondEntry{

    transform:translateY(-325px);
    margin-left: 230px;

    height:100px;
    width:190px;
    
    text-align: center;

    font-size: x-large;

    background-color: #e95e64;
    color:brown;

    border:none;
    outline:none;

    font-family:fantasy;

}

#secondEntry::placeholder{

    color:brown;

}

#bubblePromptSubmit{

    justify-content: center;
    scale:70%;

    transform: translateY(-200px);
    

}

#contentEntryBox{

    width:600px;
    height:300px;
    
    transform: translateX(70px);
    transform:translateY(-565px);

    outline:none;
    border:none;

    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;

    

}


#speechBubble{

    transform: translateX(-7px);

}

#pencilSubmitBtn{
    
    justify-content: center;
    transform:translateY(-700px)

}

#pencilImg{

    transform: rotate(-90deg);
    scale:90%;

}

#submitBtn{

    width:300px;
    height:100px;

    font-size: 30pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: #e95e64;
    border:none;

    transform: translateY(-355px);
    margin-left: 130px;
    
}

#submitBtn:hover{

    color:olive;
    cursor: pointer;

}

/* media query */

@media screen and (max-width: 1800px){

    #welcomeMessage{
    
        width:90%;
        font-size: 16px;

    }

    #logo{

        margin-left: auto;
        margin-right: auto;

    }

   #flogFriend{

        scale:45%

   }

   #boxes{

    flex-direction: column;
    
    align-items: center;  

    scale: 80%;

    transform: translateY(-650px);

}

}
    
@media screen and (max-width: 450px){

    #welcomeMessage{

        font-size: 14px;

    }

    #flogFriend{

        scale:35%;
        transform: translateY(-600px);

    }

    #logo{

        scale:70%;

    }

    #boxes{

        scale:60%;

        transform: translateY(-1325px);
    
    }

}