body{

    background-color:rgb(193, 229, 193);

}

header{

    display: flex;
    justify-content:center;
    height:300px;
   

}

#pencilSubmitBtn{

    transform:translateY(-200px);
    margin-left:-140px;
    margin-top: -40px;

}

#pencilImg{

    transform: rotate(90deg);
    scale:50%;
    

}

#submitBtn{

    width:300px;
    height:100px;

    font-size: 50pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: #e95e64;
    border:none;

    transform: translateY(-725px);
    margin-left: 180px;
    scale:50%;
    margin-right:100px;
    
}

#submitBtn:hover{

    color:olive;
    cursor: pointer;

}

#posts{

    border:solid;
    border-color: black;
    padding:10px;
    width:800px;
    justify-content: center;
    height:70px;
    
    border-radius: 50px;

    margin-top:20px;
    margin-left: auto;
    margin-right: auto;

}


#posts h1{

    text-align: center;
    line-height: auto;


}


#lightSwitch{


    background-color: rgb(193, 229, 193);
    scale:50%;
    transform:translateY(-100px);
    height: 250px;
    width:700px;
    margin-right: -150px;
    border:none;
    border-radius:100px;

}

#lightNightImg{

    transform: translateY(-170px);
    width: fit-content;
    height:fit-content

}


#lightSwitch:hover{

    cursor:pointer;
    color: rgba(1, 29, 1, 0.725);

}



.usernameTitleBoxes{

    width:400px;
    height:100px;
    text-align: center;
    border:solid;
    border-radius: 30px;
    align-content: center;


    background-color: #e95e64;
    border-color: rgba(60, 3, 3, 0.219);
    margin-top: 50px;
    

}



#contentDisplay{

    width:800px;
    height:300px;
    text-align: center;
    align-content: center;
    border:solid;
    border-radius: 30px;
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    

    background-color: #e95e64;
    border-color: rgba(60, 3, 3, 0.219);
    padding:10px;
    

}


#contentSection{

    display: flex;
    justify-content: center;
    

}


#postDisplay{

    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    

}


#usernameAndTitle{

    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-20px);

}


#footer{

    display:flex;
    
    background-color:rgba(4, 72, 3, 0.408);

    height:50px;

    justify-content: center;
   

}

#linkBtn{

    background-color: rgba(0, 128, 0, 0.255);
    border:none;
    border-radius: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}





/*media queries*/

@media screen and (max-width:1200px) {

    #postDisplay{
        
        flex-direction: column;
        justify-content: center;
        transform: translateY(-100px);

    }

    .usernameTitleBoxes{

       margin-left: auto;
       margin-right:auto;

    }

    
    
}


@media screen and (max-width:1100px){

   header{

        scale:80%;
        

   }

   

}

@media screen and (max-width:850px){

    body{

        transform: translateY(-50px);

    }

    header{

        scale:35%;
       

    }

    #posts{

        scale:200%;
    
       }

    .usernameTitleBoxes{

        scale:70%;
        margin-top:-20px;

    }

    #usernameAndTitle{

        margin-bottom:20px;

    }
 
    #contentDisplay{

      scale:70%;
      transform: translateY(-150px);
      

    }

  

   #postDisplay{

    transform:translateY(-80px);
    margin-bottom: -50px;

   }

}

@media screen and (max-width:450px){


.usernameTitleBoxes{

    scale:30%;
    margin-top:-70px;
    transform: translateX(-60px);

}

header{

    scale:30%;

}

#contentDisplay{

   width:600px;
   height:200px;
   font-size: 14pt;

}

#postDisplay{

    transform: translateY(-50px);

}


body{

    transform: translateX(-5px);
    transform: translateY(-100px);

}



}